<h1>BakeCycle</h1>
<% if current_user %>
  <h2>Welcome to BakeCycle</h2>
  <%= link_to 'Ingredients', controller: 'ingredients' %> | <%= @ingredients_size %>
  <%= link_to 'Recipes', controller: 'recipes' %> | <%= @recipes_size %>
  <%= link_to 'Products', controller: 'products' %> | <%= @products_size %>
<% end %>
