<h1>BakeCycle</h1>
<%= link_to 'Ingredients', controller: 'ingredients' %> | <%= @ingredients_size %>
<%= link_to 'Recipes', controller: 'recipes' %> | <%= @recipes_size %>
<%= link_to 'Products', controller: 'products' %> | <%= @products_size %>
