<% if current_user %>
  <div class="dashboard">
    <div class="row">
      <% if current_bakery %>
        <div class="large-4 medium-6 small-12 columns">
          <div class="stats border">
            <div class="left">
              Ingredients
              <h3><%= @ingredients_size %></h3>
            </div>
            <i class="fi-info right"></i>
            <div class="clearfix"></div>
          </div>
        </div>
        <div class="large-4 medium-6 small-12 columns">
          <div class="stats border">
            <div class="left">
              Recipes
              <h3><%= @recipes_size %></h3>
            </div>
            <i class="fi-info right"></i>
            <div class="clearfix"></div>
          </div>
        </div>
        <div class="large-4 medium-6 small-12 columns">
          <div class="stats border">
            <div class="left">
              Products
              <h3><%= @products_size %></h3>
            </div>
            <i class="fi-price-tag right"></i>
            <div class="clearfix"></div>
          </div>
        </div>
        <div class="large-4 medium-6 small-12 columns">
          <div class="stats border">
            <div class="left">
              Routes
              <h3><%= @routes_size %></h3>
            </div>
            <i class="fi-foundation right"></i>
            <div class="clearfix"></div>
          </div>
        </div>

        <div class="large-4 medium-6 small-12 columns">
          <div class="stats border">
            <div class="left">
              Clients
              <h3><%= @clients_size %></h3>
            </div>
            <i class="fi-torsos-all right"></i>
            <div class="clearfix"></div>
          </div>
        </div>
        <div class="large-4 medium-6 small-12 columns">
          <div class="stats border">
            <div class="left">
              Orders
              <h3><%= @orders_size %></h3>
            </div>
            <i class="fi-shopping-bag right"></i>
            <div class="clearfix"></div>
          </div>
        </div>
        <div class="large-4 medium-6 small-12 columns">
          <div class="stats border">
            <div class="left">
              Shipments
              <h3><%= @shipments_size %></h3>
            </div>
            <i class="fi-calendar right"></i>
            <div class="clearfix"></div>
          </div>
        </div>
        <div class="large-4 medium-6 small-12 columns end">
          <div class="stats border">
            <div class="left">
              Users
              <h3><%= @users_size %></h3>
            </div>
            <i class="fi-torso right"></i>
            <div class="clearfix"></div>
          </div>
        </div>
      <% end %>
      <% if can? :manage, Bakery %>
        <div class="large-4 medium-6 small-12 columns end">
          <div class="stats border">
            <div class="left">
              Bakeries
              <h3><%= @bakeries_size %></h3>
            </div>
            <i class="fi-torsos-all right"></i>
            <div class="clearfix"></div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% else %>
  <div class="centered-text">

  <div class="welcome-panel">
    <div class="panel-heading">
      <h1 class="panel-title">Welcome to BakeCycle</h1>
    </div>
    <div class="panel-body">
      <%= link_to('Login', new_user_session_path, class: "large button full-width login-button") %>
    </div>
  </div>
  </div>
<% end %>
