<section class="marketing-footer">
  <div class="row full-width">
    <div class="small-12 medium-12 large-3 columns logo left-section">
      <%= link_to root_path do %>
        <%= image_tag 'marketing/home/bakecycle-logo.svg', alt: 'Wholesale Bakery Management' %>
      <% end %>
    </div>

    <div class="small-12 medium-12 large-offset-6 large-3 columns right-section">
      <div class="row">
        <div class="small-12 column">
          <nav class="header-nav">
            <ul>
              <li><%= link_to("Open Beta", new_registration_path, class:"white-outline-btn")%></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>

  <div class="row full-width">
    <div class="small-12 large-4 columns left-section">
      <p class="message">
        <span class="strong">BakeCycle</span>
          is a collaboration of <a class="underlined-link" href="http://www.wizarddevelopment.com" target="_blank">Wizard Development</a> and <a class="underlined-link" href="http://www.biencuit.com" target="_blank">Bien Cuit</a>.<br>
        Copyright &copy; 2015 Wizard Development, LLC.
      </p>
    </div>

    <div class="small-12 large-5 columns middle-section">
      <div class="row">
        <div class="small-12 medium-4 columns">
          <p class="contact-info">
            <span>Sales:</span><br>
            <%= number_to_phone(6468872253, country_code: 1) %><br>
            <%= mail_to "sales@bakecycle.com", "sales@bakecycle.com", html_options = { class:"underlined-link" } %>
          </p>
        </div>

        <div class="small-12 medium-4 columns">
          <p class="contact-info">
            <span>Support:</span><br>
            <%= number_to_phone(6468872253, country_code: 1) %><br>
            <%= mail_to "support@bakecycle.com", "support@bakecycle.com", html_options = { class:"underlined-link" } %>
          </p>
        </div>

        <div class="small-12 medium-4 columns end">
          <p class="contact-info">
            <span>BakeCycle:</span><br>
            64 Allen Street #5<br>
            New York, NY 10002
          </p>
        </div>
      </div>
    </div>

    <div class="small-12 large-3 columns right-section">
      <div class="row">
        <p class="footer-links">
          <span>
            <%= link_to "Privacy Policy", privacy_policy_path, class: "underlined-link" %>
          </span>
          <span>
            <%= link_to "Terms of Service", terms_of_service_path, class: "underlined-link" %>
          </span>
        </p>
      </div>
    </div>
  </div>
</section>
