<%= simple_form_for @production_run do |f| %>
  <%= f.error_notification %>

  <%= render partial: "run_items", locals: {f: f} %>

  <div class="row">
    <div class="small-12 columns">
      <%= f.submit (f.object.new_record? ? "Create" : "Update"), class: "button", name: nil %>
      <% unless f.object.new_record? %>
        <%= link_to 'Delete', production_run_path(f.object),
          class: "button alert",
          method: :delete,
          data: { confirm: 'Are you sure?' } %>
      <% end %>
    </div>
  </div>
<% end %>
