<%= link_to "<i class='fi-page-export-pdf'></i> Print Recipes for Production Run".html_safe, print_production_run_path(production_run, format: :pdf), target: "_blank", class: "button small"%>

<%= simple_form_for @production_run do |f| %>
  <%= f.error_notification %>

  <% if f.object.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% f.object.errors.each do |attribute, msg| %>
          <li class='alert-box alert'><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= render partial: "run_items", locals: {f: f} %>

  <div class="row">
    <div class="small-12 columns">
      <% if f.object.persisted? %>
        <%= f.submit "Update", class: "button", name: nil %>
        <%= link_to 'Delete', production_run_path(f.object),
          class: "button alert",
          method: :delete,
          data: { confirm: 'Are you sure?' } %>
        <%= link_to 'Reset', reset_production_run_path(f.object),
          class: "button alert",
          method: :put,
          data: { confirm: "You will lose all custom overbake products and quantities on this run.\n\nContinue resetting?" } %>
      <% end %>
    </div>
  </div>
<% end %>
