<p class="projection">Projection based on active orders</p>
<%= link_to print_projection_production_runs_path(date: @date.strftime("%Y-%m-%d"), format: :pdf), target: "_blank" do %>
  <span class="table-action-icon table-tooltip" aria-label="Print Run"><i class="fi-page-export-pdf"></i></span>
<% end %>

<table class="responsive-table production-run-projection">
  <thead>
    <tr>
      <th>Product</th>
      <th>Type</th>
      <th>Lead Days</th>
      <th>Total Quantity</th>
      <th>Order Quantity</th>
      <th>Over Bake %</th>
      <th>Over Bake Quantity</th>
    </tr>
  </thead>
  <tbody>
    <% @production_run_projection.products_info.each do |projection| %>
      <tr>
        <td><%= projection.product.name %></td>
        <td><%= projection.product.product_type %></td>
        <td><%= projection.product.total_lead_days %></td>
        <td><%= projection.total_quantity %></td>
        <td><%= projection.order_quantity %></td>
        <td><%= projection.product.over_bake %></td>
        <td><%= projection.overbake_quantity %></td>
      </tr>
    <% end %>
  </tbody>
</table>
