<div data-controller="NestedItemCtrl">
  <table class="responsive-table recent-shipment">
    <thead>
      <tr>
        <th>Product</th>
        <th>Total Quantity</th>
        <th>Order Quantity</th>
        <th>Over Bake %</th>
        <th>Over Bake Quantity</th>
        <% if policy(@production_run).update? %>
          <th>Delete</th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <%= f.simple_fields_for :run_items, @production_run.run_items.order_by_product_type_and_name do |builder| %>
          <%= render 'run_item_fields', f: builder %>
      <% end %>
      <tr data-repeat>
        <%= f.simple_fields_for :run_items, @production_run.run_items.build do |builder| %>
           <%= render 'new_run_item_fields', f: builder %>
        <% end %>
      </tr>
    </tbody>
  </table>

  <% if policy(@production_run).update? %>
    <%= link_to('Add Product', '', data:{ add: true }, class: "button") if f.object.persisted? || params[:action] == 'test_projection' %>
  <% end %>
</div>
