<tr class="fields" id="run_item_<%= f.object.id %>">
  <% if f.object.persisted? %>
    <th scope="row">
      <a class="product-info-tooltip">
        <%= f.object.product_name %>
        <span>
          <strong>Product Type:</strong> <%= f.object.product_type %><br />
          <strong>Total Lead Days:</strong> <%= f.object.product_total_lead_days %>
        </span>
      </a>
    </th>
    <%= f.hidden_field :product_id, label: false, value: "#{f.object.product.id}" %>
  <% else %>
    <td data-title="Product">
      <%= f.input :product_id, collection: production_run.available_products, :error_html => { :id => "run_items_product_error"} %>
    </td>
  <% end %>

  <td data-title="Total Qty"><strong><%= f.object.total_quantity %></strong></td>
  <td data-title="Order Qty"><%= f.object.order_quantity %></td>
  <td data-title="Over Bake %"><%= f.object.product_over_bake %> %</td>
  <% if policy(@production_run).update? %>
    <td data-title="Over Bake Qty"><%= f.input :overbake_quantity, label: false %></td>
    <td>
      <% unless f.object.from_shipment? %>
        <%= f.hidden_field :_destroy, value: false %>
        <%= link_to 'X', '', data:{ remove: true }, class: "button alert postfix" %>
      <% end %>
    </td>
  <% else %>
    <td data-title="Over Bake Qty"><%= f.object.overbake_quantity %></td>
  <% end %>
</tr>
