<div ng-controller="RecipeCtrl" ng-init="recipe=<%= recipe.serialized_json %>">

<%= simple_form_for recipe do |f| %>

  <%= f.error_notification %>
  <% if f.object.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% f.object.errors.full_messages.each do |msg| %>
          <li> * <%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <legend>Recipe Information</legend>
    <div class="row">
      <div class="small-12 columns">
        <%= f.input :name, as: :string %>
      </div>
    </div>
    <div class="row">
      <div class="small-12 columns">
        <%= f.input :note, as: :text %>
      </div>
    </div>

    <div class="row">
      <div class="small-6 columns">
        <%= f.input :mix_size, as: :string, label: "Mixing Bowl Size" %>
        <p class="help-text">* Pre-ferment mix bowls will match motherdough bowls when only included in one motherdough</p>
      </div>
      <div class="small-6 columns">
        <%= f.input :mix_size_unit, collection: recipe.mix_size_units_select, prompt: "Select One", as: :select, label: "Mixing Bowl Size Unit" %>
      </div>
    </div>

    <div class="row">
      <div class="small-12 columns">
        <%= f.input :recipe_type, collection: recipe.recipe_types_select, prompt: "Select One", as: :select, input_html: { "ng-model" => "recipe.recipe_type" } %>
      </div>
    </div>

    <div class="row">
      <div class="small-12 columns" ng-show="isDough()">
        <%= f.input :lead_days, as: :string %>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend>Ingredients</legend>
    <div class="row collapse">
      <div class="small-12 medium-4 columns">
        <%= f.label :inclusionable_id_type, "Ingredient", class: "show-for-medium-up" %>
      </div>
      <div class="small-12 medium-2 columns">
        <%= f.label :bakers_percentage, "Baker's %", class: "show-for-medium-up" %>
      </div>
      <div class="small-12 medium-2 columns">
        <%= f.label :inclusionable_type, "Type", class: "show-for-medium-up" %>
      </div>
      <div class="small-12 medium-2 columns end">
        <%= f.label :total_lead_days, "Lead time", class: "show-for-medium-up" %>
      </div>
    </div>
    <div ng-controller="NestedItemCtrl">
      <%= f.simple_fields_for :recipe_items do |builder| %>
        <%= render "recipe_item_fields", f: builder %>
      <% end %>
      <div ng-repeat="nestedItem in nestedItems">
        <%= f.simple_fields_for :recipe_items, @recipe.recipe_items.build do |builder| %>
          <%= render "new_recipe_item_fields", f: builder %>
        <% end %>
      </div>
      <%= link_to 'Add New Ingredient', '', :'ng-click' => "add()", class: "button" %>
    </div>
  </fieldset>


  <div class="row">
    <div class="small-12 columns">
      <%= f.submit (@recipe.new_record? ? "Create" : "Update"), class: "button", name: nil %>
      <% unless @recipe.new_record? %>
        <%= link_to 'Delete', recipe_path(@recipe), class: "button alert",
                                  method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    </div>
  </div>
<% end %>
</div>
