<%= simple_form_for recipe do |f| %>
  <%= render partial: "shared/error_messages", locals: {f: f} %>

  <%= react_component('RecipeForm', recipe.serializable_hash) %>

  <div class="row">
    <div class="small-12 columns">
      <%= f.submit (@recipe.new_record? ? "Create" : "Update"), class: "button", name: nil %>
      <% unless @recipe.new_record? %>
        <%= link_to 'Delete', recipe_path(@recipe), class: "button alert",
                                  method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    </div>
  </div>
<% end %>
