<div class="fields" ng-show="true">
  <div class="row collapse">
    <div class="small-12 medium-4 columns" ng-if="isInclusion()">
      <%= f.input :inclusionable_id_type, collection: recipe.available_ingredients, input_html: { id: "recipe_recipe_items_attributes_{{getRandomId($index)}}_inclusionable_id_type", name: "recipe[recipe_items_attributes][{{getRandomId($index)}}][inclusionable_id_type]" },  label: "Ingredient", include_blank: "--None--", as: :select%>
    </div>
    <div class="small-12 medium-4 columns" ng-if="!isInclusion()">
      <%= f.input :inclusionable_id_type, collection: recipe.available_inclusions, input_html: { id: "recipe_recipe_items_attributes_{{getRandomId($index)}}_inclusionable_id_type", name: "recipe[recipe_items_attributes][{{getRandomId($index)}}][inclusionable_id_type]" },  label: "Ingredient", include_blank: "--None--", as: :select%>
    </div>
    <div class="small-12 medium-2 columns">
      <%= f.input :bakers_percentage, input_html: { id: "recipe_recipe_items_attributes_{{getRandomId($index)}}_bakers_percentage", name: "recipe[recipe_items_attributes][{{getRandomId($index)}}][bakers_percentage]" } , label: "Baker's %", as: :string %>
    </div>
    <div class="small-12 medium-2 columns end">
      <%= f.input :_destroy, as: :hidden, wrapper: false, input_html: { name: "recipe[recipe_items_attributes][{{getRandomId($index)}}][_destroy]" } %>
      <%= link_to 'X', '', :'ng-click' => "remove($event)", class: "remove-button button alert postfix" %>
    </div>
  </div>
</div>
