<table class="responsive-table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Type</th>
      <% if show_updated_at_whodoneit || show_created_whodoneit %>
        <th scope="col">By</th>
      <% end %>
      <% if policy(Product).manage_permission? %>
        <th scope="col">Actions</th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% recipes.each do |recipe| %>
      <tr class="js-clickable-row" href="<%= edit_recipe_path(recipe) %>">
        <th scope="row"><%= link_to recipe.name, edit_recipe_path(recipe) %></th>
        <!--NB: There is no easy way to get the User besides this. Joining would be preferable -->
        <td data-title="Type"><%= recipe.recipe_type %></td>
        <% if show_created_whodoneit %>
          <td data-title="By"><%= User.find(recipe.versions.first.whodunnit).name %></td>
        <% end %>
        <% if show_updated_at_whodoneit %>
          <td data-title="By"><%= User.find(recipe.versions.last.whodunnit).name %></td>
        <% end %>
        <% if policy(recipe).manage_permission? %>
          <td data-title="Action">
            <%= link_to edit_recipe_path(recipe) do %>
              <span class="table-action-icon icon-link-tooltip" aria-label="Edit Recipe"><i class="fi-page-edit"></i></span>
            <% end %>
            <%= link_to papertrail_recipe_path(recipe) do %>
              <span class="table-action-icon icon-link-tooltip" aria-label="Papertrail"><i class="fi-eye"></i></span>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>