<% provide(:title, "Daily Totals - #{@recipes.date.strftime('%A %b. %e, %Y')}") %>

<h1>Daily Totals &mdash; <%= @recipes.date.strftime("%A %b. %e, %Y") %></h1>

<%= simple_form_for :search, method: :get do |f| %>
  <div class="row collapse">
    <div class="small-12 medium-3 columns">
      <%= f.input :date, input_html: { value: @recipes.date.strftime("%Y-%m-%d"), class: "js-datepicker", name: :date}, required: false %>
    </div>
    <div class="small-12 medium-3 columns end">
      <%= f.submit 'Select Date', class: "button postfix search-button", name: nil %>
    </div>
  </div>
<% end %>

<% if @recipes.routes.any? %>
  <%= link_to "<i class='fi-page-export-pdf'></i> Print Daily Totals".html_safe,
    print_daily_total_path(@recipes.date.strftime("%Y-%m-%d"), show_routes: true, format: :pdf), target: "_blank", class: "button small"%>

  <%= link_to "<i class='fi-page-export-pdf'></i> Print Daily Totals Without Routes".html_safe,
    print_daily_total_path(@recipes.date.strftime("%Y-%m-%d"), show_routes: false, format: :pdf), target: "_blank", class: "button small"%>

  <h2><%= pluralize(@recipes.shipments.count, "Invoice") %> on the following Routes</h2>
  <table class="responsive-table">
    <thead>
      <tr>
        <th scope="col">Route</th>
        <th scope="col">Departure Time</th>
      </tr>
    </thead>
    <tbody>
      <% @recipes.routes.each do |route| %>
        <tr>
          <th scope="row"><%= route.name %></th>
          <td data-title="Departure Time">
            <%= route.departure_time.strftime("%I:%M%p") %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <h2>No daily totals for this date.</h2>
<% end %>
