<%= simple_form_for @user do |f| %>
  <% if @user.errors.any? %>
    <%= f.error_notification %>
  <% end %>

  <fieldset>
  <legend>User Information</legend>
    <div class="row">
      <div class="large-6 small-12 columns">
        <%= f.input :name, as: :string %>
      </div>
      <div class="large-6 small-12 columns">
        <%= f.input :email, as: :string %>
      </div>
    </div>

    <div class="row">
      <div class="large-6 small-12 columns">
        <%= f.input :password, as: :password %>
      </div>
      <div class="large-6 small-12 columns">
        <%= f.input :password_confirmation, as: :password %>
      </div>
    </div>

    <div class="row">
      <div class="large-6 small-12 columns">
        <% if current_user.admin? %>
          <%= f.input :bakery_id, collection: Bakery.all, label_method: :name, value_method: :id, prompt: "Select One", as: :select  %>
        <% end %>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend>Permissions</legend>
    <% if policy(@user).manage_permission? %>
      <div class="row">
        <div class="large-6 small-12 columns">
          <%= f.input :user_permission do %>
            <%= f.collection_select(:user_permission, User::ACCESS_LEVELS, :to_s, lambda {|i| i.to_s.humanize}) %>
          <% end %>
        </div>
      </div>
    <% end %>
  </fieldset>

  <div class="row">
    <div class="small-12 columns">
      <%= f.submit (@user.new_record? ? "Create" : "Update"), class: "button", name: nil %>
      <% unless @user.new_record? %>
        <%= link_to 'Delete', user_path(@user), class: "button alert",
                                  method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    </div>
  </div>
<% end %>
