<%= simple_form_for @user do |f| %>

  <%= render partial: "shared/error_messages", locals: {f: f} %>

  <fieldset>
  <legend>User Information</legend>
    <div class="row">
      <div class="large-6 small-12 columns">
        <%= f.input :name, as: :string %>
      </div>
      <div class="large-6 small-12 columns">
        <%= f.input :email, as: :string, required: true %>
      </div>
    </div>

    <div class="row">
      <div class="large-6 small-12 columns">
        <%= f.input :password, as: :password %>
        <% unless @user.persisted? %>
          <p class="help-text">
            * Leave password blank to send an invitation email
          </p>
        <% end %>
      </div>
      <div class="large-6 small-12 columns">
        <%= f.input :password_confirmation, as: :password %>
      </div>
    </div>

    <div class="row">
      <div class="large-6 small-12 columns">
        <% if current_user.admin? %>
          <%= f.input(
            :bakery_id,
            collection: Bakery.all,
            label_method: :name,
            value_method: :id,
            include_blank: 'None',
            as: :select
          ) %>
        <% end %>
      </div>
    </div>
  </fieldset>

  <% if policy(@user).manage_permission? %>
    <fieldset>
      <legend>Permissions</legend>
      <div class="row">
        <div class="large-6 small-12 columns">
          <%= f.input(
            :user_permission,
            collection: user.access_level,
            as: :select,
            include_blank: false
          ) %>
        </div>
      </div>

      <div class="row">
        <div class="large-6 small-12 columns">
          <%= f.input(
            :product_permission,
            collection: user.access_level,
            as: :select,
            include_blank: false
          ) %>
        </div>
      </div>

      <div class="row">
        <div class="large-6 small-12 columns">
          <%= f.input(
            :bakery_permission,
            collection: user.access_level,
            as: :select,
            include_blank: false
          ) %>
        </div>
      </div>

      <div class="row">
        <div class="large-6 small-12 columns">
          <%= f.input(
            :client_permission,
            collection: user.access_level,
            as: :select,
            include_blank: false
          ) %>
        </div>
      </div>

      <div class="row">
        <div class="large-6 small-12 columns">
          <%= f.input(
            :shipping_permission,
            collection: user.access_level,
            as: :select,
            include_blank: false
          ) %>
        </div>
      </div>

      <div class="row">
        <div class="large-6 small-12 columns">
          <%= f.input(
            :production_permission,
            collection: user.access_level,
            as: :select,
            include_blank: false
          ) %>
        </div>
      </div>
    </fieldset>
  <% end %>

  <div class="row">
    <div class="small-12 columns">
      <%= f.submit (@user.new_record? ? "Create" : "Update"), class: "button", name: nil %>
      <% unless @user.new_record? %>
        <%= link_to 'Delete', user_path(@user), class: "button alert",
                                  method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    </div>
  </div>
<% end %>
