<% provide(:title, "Registration") %>
<% content_for :head do %>
  <%= tag :meta, name: "stripe-key", content: ENV['STRIPE_PUBLISHABLE_KEY'] %>
  <% if Rails.env.test? %>
    <%= javascript_include_tag "test/stripe.js" %>
  <% else %>
    <%= javascript_include_tag "https://js.stripe.com/v2/" %>
  <% end %>
<% end %>

<section class="registration">

  <div class="small-12 medium-10 medium-offset-1 large-8 large-offset-2 columns main-container">
    <%= simple_form_for @registration, html: { id: "registration-form" } do |f| %>
      <div class="row">
        <h1>Sign up for bakecycle</h1>
        <p>
          <label>Plan Type
            <% if f.object.errors[:plan].any? %>
              <span class="plan-type-error"><%= f.object.errors[:plan].first %></span>
            <% end %>
          </label>
        </p>
        <ul class="registration-button-group">
          <% Plan.for_display.each do |plan| %>
          <li>
            <div class="registration-button">
              <%= f.radio_button(:plan_id, plan.id) %>
              <%= f.label(:plan_id, plan.display_name, value: plan.id) %>
            </div>
          </li>
          <% end %>
        </ul>

        <p class="sign-up-message">Choose your plan. Don't worry! You won't be charged until the end of your trial.</p>
        <hr>
      </div>

      <div class="row">
        <div class="basic-info-container">
          <h2>Your Basic Information</h2>

          <div class="row">
            <div class="small-12 medium-5 columns">
              <%= f.input :first_name, as: :string, label: "First", required: true %>
            </div>
            <div class="small-12 medium-7 columns">
              <%= f.input :last_name, as: :string, label: "Last", required: true %>
            </div>
          </div>

          <div class="row">
            <div class="small-12 columns">
              <%= f.input :bakery_name, as: :string, label: "Bakery Name", required: true %>
            </div>
          </div>
          <hr>
        </div>
      </div>

      <div class="row">
        <div class="your-account-container">
          <h2>Your Account Credentials</h2>
          <div class="row">
            <div class="small-12 medium-5 columns">
              <%= f.input :email, as: :email, label: "Email", required: true, input_html: { "data-stripe": "email"} %>
            </div>
            <div class="small-12 medium-7 columns">
              <%= f.input :password, as: :password, label: "Password", required: true %>
            </div>
          </div>
          <hr>
        </div>
      </div>

      <div class="row">
        <div class="credit-card-container">
          <h2>Your Payment Information</h2>
          <span class="payment-errors"></span>
          <div class="row">
            <div class="small-12 medium-5 columns">
              <%= f.input(
                :card_number,
                as: :string,
                label: "Card Number",
                input_html: {
                  "data-stripe": "number",
                  name: nil,
                  autocomplete: 'off'
                },
                required: true
              ) %>
            </div>
            <div class="small-12 medium-4 columns">
              <%= f.input(
                :card_zipcode,
                as: :string,
                label: "Postal/Zip",
                input_html: {
                  "data-stripe": "address_zip",
                  name: nil,
                  autocomplete: 'off'
                },
                required: true
              ) %>
            </div>
            <div class="small-12 medium-3 columns">
              <%= f.input(
                :card_code,
                as: :string,
                label: "CVC",
                input_html: {
                  "data-stripe": "cvc",
                  name: nil,
                  autocomplete: 'off'
                },
                required: true
              ) %>
            </div>
          </div>
          <div class="row">
            <div class="small-12 medium-5 columns">
              <%= f.input(
                :card_month,
                collection: @registration.month,
                prompt: "Please Select",
                label: "Month",
                input_html: {
                  class: "cc-dropdown",
                  "data-stripe": "exp-month",
                  name: nil,
                  autocomplete: 'off'
                },
                required: true
              ) %>
            </div>
            <div class="small-12 medium-3 columns end">
              <%= f.input(
                :card_year,
                collection: @registration.year,
                prompt: "Please Select",
                label: "Year",
                input_html: {
                  class: "cc-dropdown",
                  "data-stripe": "exp-year",
                  name: nil,
                  autocomplete: 'off'
                },
                required: true
              ) %>
            </div>
          </div>
          <p class="payment-information-messsage">We can accept a PO or paying by invoice if you have a large group. Please <%= mail_to "support@bakecycle.com", "email us", html_options = { class:"underlined-link" } %> and we'll be happy to help.</p>
          <hr>
        </div>
      </div>


      <div class="row">
        <%= f.submit "Join BakeCycle", class: "join-cta-button", name: nil %>
        <hr>
        <p class="join-message">When you click join BakeCycle, yourou are also agreeing to our <%= link_to "Terms of Service", terms_of_service_path, class: "underlined-link", target: '_blank' %> and our <%= link_to "Privacy Policy", privacy_policy_path, class: "underlined-link", target: '_blank' %>.</p>
      </div>
    <% end %>
  </div>
</section>
