<% if @date %>
  <p class="projection">Projection based on active orders</p>
  <%= link_to(
    "<i class='fi-page-export-pdf'></i> Print Recipes for Projected Run".html_safe,
    print_projection_production_runs_path(
      date: @date.strftime("%Y-%m-%d"),
      format: :pdf
    ),
    target: "_blank", class: "button small"
  ) %>
<% else %>
  <p class="projection">Batch based on active orders</p>
  <%= link_to(
    "<i class='fi-page-export-pdf'></i> Print Recipes for Projected Run".html_safe,
    print_batch_recipes_path(
      start_date: @projection.start_date.strftime("%Y-%m-%d"),
      end_date: @projection.batch_end_date.strftime("%Y-%m-%d"),
      format: :pdf
    ),
    target: "_blank", class: "button small"
  ) %>
<% end %>

<table class="responsive-table production-run-projection">
  <thead>
    <tr>
      <th>Product</th>
      <th>Total Quantity</th>
      <th>Order Quantity</th>
      <th>Over Bake %</th>
      <th>Over Bake Quantity</th>
    </tr>
  </thead>
  <tbody>
    <% @projection.products_info.each do |projection| %>
      <tr>
        <th scope="row">
          <a class="product-info-tooltip">
            <%= projection.product_name %>
            <span>
              <strong>Product Type:</strong> <%= projection.product_type %><br />
              <strong>Total Lead Days:</strong> <%= projection.product_total_lead_days %>
            </span>
          </a>
        </th>
        <td data-title="Total Qty"><%= projection.total_quantity %></td>
        <td data-title="Order Qty"><%= projection.order_quantity %></td>
        <td data-title="Over Bake %"><%= projection.product_over_bake %></td>
        <td data-title="Over Bake Qty"><%= projection.overbake_quantity %></td>
      </tr>
    <% end %>
  </tbody>
</table>
