<h1>Client: <%= @client.name %></h1>
<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
<br />
<br />

<div class="map-container" ng-controller="mapCtrl" ng-init="center = [<%= @client.latitude %>, <%= @client.longitude %>]">
  <map
    center="{{center}}"
    visible = "true"
    draggable = "false"
    zoom-control = "true"
    scrollwheel = "false"
    max-zoom="15"
    min-zoom="15">
    <marker position = "{{center}}" on-click="openMap(center)"></marker>
  </map>
</div>

<fieldset>
  <legend>Business Information</legend>
    <div class="row">
    <div class="small-12 large-6 columns">
      <p>Name: <%= @client.name %></p>
    </div>

    <div class="small-12 large-6 columns">
      <p>DBA: <%= @client.dba %></p>
    </div>
  </div>

  <div class="row">
    <div class="small-12 large-6 columns">
      <p>Business Phone:<%= @client.business_phone %></p>
    </div>

    <div class="small-12 large-6 columns">
      <p>Business Fax: <%= @client.business_fax %></p>
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns">
      <p>Active: <%= @client.active_status %></p>
    </div>
  </div>
</fieldset>

<fieldset>
  <legend>Delivery Address</legend>
  <div class="row">
    <div class="small-12 columns">
      <p><%= @client.delivery_address_street_1 %></p>
      <p><%= @client.delivery_address_street_2 %></p>
      <p><%= @client.delivery_address_city %>, <%= @client.delivery_address_state %> <%= @client.delivery_address_zipcode %></p>
    </div>
  </div>
</fieldset>

<fieldset>
  <legend>Billing Address</legend>
  <div class="row">
    <div class="small-12 columns">
      <p><%= @client.billing_address_street_1 %></p>
      <p><%= @client.billing_address_street_2 %></p>
      <p><%= @client.billing_address_city %>, <%= @client.billing_address_state %> <%= @client.billing_address_zipcode %></p>
    </div>
  </div>
</fieldset>


<div class="row">
  <div class="small-12 large-4 columns">
    <fieldset>
      <legend>Accounts Payable Contact</legend>

      <div class="row">
        <div class="small-12 columns">
          <p><%= @client.accounts_payable_contact_name %></p>
        </div>

        <div class="small-12 columns">
          <p><%= @client.accounts_payable_contact_phone %></p>
        </div>

        <div class="small-12 columns">
          <p><%= @client.accounts_payable_contact_email %></p>
        </div>
      </div>
    </fieldset>
  </div>
  <div class="small-12 large-4 columns">
    <fieldset>
      <legend>Primary Contact</legend>
      <div class="row">
        <div class="small-12 columns">
          <p><%= @client.primary_contact_name %></p>
        </div>

        <div class="small-12 columns">
          <p><%= @client.primary_contact_phone %></p>
        </div>

        <div class="small-12 columns">
          <p><%= @client.primary_contact_email %></p>
        </div>
      </div>
    </fieldset>
  </div>
  <div class="small-12 large-4 columns">
    <fieldset>
      <legend>Secondary Contact</legend>
      <div class="row">
        <div class="small-12 columns">
          <p><%= @client.secondary_contact_name %></p>
        </div>

        <div class="small-12 columns">
          <p><%= @client.secondary_contact_phone %></p>
        </div>

        <div class="small-12 columns">
          <p><%= @client.secondary_contact_email %></p>
        </div>
      </div>
    </fieldset>
  </div>
</div>

<fieldset>
  <legend>Client's Recent Shipments</legend>
  <div class="row">
    <table class="responsive-table recent-shipment">
      <thead>
        <tr>
          <th scope="col">Date</th>
          <th scope="col">Number</th>
          <th scope="col">Route</th>
          <!-- <th scope="col">Total</th> -->
          <th scope="col">Action</th>
        </tr>
      </thead>

      <tbody>
        <% @shipments.each do |shipment| %>
          <tr>
            <th scope="row"><%= shipment.date %></th>
            <td data-title="Number"><%= shipment.id %></td>
            <td data-title="Route"><%= shipment.route.name %></td>
            <!-- <td data-title="Total">Total</td> -->
            <td data-title="Action">
              <%= link_to edit_shipment_path(shipment) do %>
                <span class="table-action-icon" data-tooltip aria-haspopup="true" data-options="show_on:medium" title="Edit Shipment"><i class="fi-page-edit"></i></span>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="row">
   <%= link_to 'View More Shipments', shipments_path(search: {client_id: @client.id}), class: "button small right" %>
  </div>
</fieldset>
