<h1>Client: <%= @client.name %></h1>
<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
<br />
<br />

<div class="map-container" ng-controller="mapCtrl" ng-init="center = [<%= @client.latitude %>, <%= @client.longitude %>]">
  <map
    center="{{center}}"
    visible = "true"
    draggable = "false"
    zoom-control = "true"
    scrollwheel = "false"
    max-zoom="15"
    min-zoom="15">
    <marker position = "{{center}}" on-click="openMap(center)"></marker>
  </map>
</div>

<fieldset>
  <legend>Business Information</legend>
    <div class="row">
    <div class="small-12 large-6 columns">
      <p>Name: <%= @client.name %></p>
    </div>

    <div class="small-12 large-6 columns">
      <p>DBA: <%= @client.dba %></p>
    </div>
  </div>

  <div class="row">
    <div class="small-12 large-6 columns">
      <p>Business Phone:<%= @client.business_phone %></p>
    </div>

    <div class="small-12 large-6 columns">
      <p>Business Fax: <%= @client.business_fax %></p>
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns">
      <p>Active: <%= @client.active_status %></p>
    </div>
  </div>
</fieldset>

<fieldset>
  <legend>Delivery Address</legend>
  <div class="row">
    <div class="small-12 columns">
      <p><%= @client.delivery_address_street_1 %></p>
      <p><%= @client.delivery_address_street_2 %></p>
      <p><%= @client.delivery_address_city %>, <%= @client.delivery_address_state %> <%= @client.delivery_address_zipcode %></p>
    </div>
  </div>
</fieldset>

<fieldset>
  <legend>Billing Address</legend>
  <div class="row">
    <div class="small-12 columns">
      <p><%= @client.billing_address_street_1 %></p>
      <p><%= @client.billing_address_street_2 %></p>
      <p><%= @client.billing_address_city %>, <%= @client.billing_address_state %> <%= @client.billing_address_zipcode %></p>
    </div>
  </div>
</fieldset>


<div class="row">
  <div class="small-12 large-4 columns">
    <fieldset>
      <legend>Accounts Payable Contact</legend>

      <div class="row">
        <div class="small-12 columns">
          <p><%= @client.accounts_payable_contact_name %></p>
        </div>

        <div class="small-12 columns">
          <p><%= @client.accounts_payable_contact_phone %></p>
        </div>

        <div class="small-12 columns">
          <p><%= @client.accounts_payable_contact_email %></p>
        </div>
      </div>
    </fieldset>
  </div>
  <div class="small-12 large-4 columns">
    <fieldset>
      <legend>Primary Contact</legend>
      <div class="row">
        <div class="small-12 columns">
          <p><%= @client.primary_contact_name %></p>
        </div>

        <div class="small-12 columns">
          <p><%= @client.primary_contact_phone %></p>
        </div>

        <div class="small-12 columns">
          <p><%= @client.primary_contact_email %></p>
        </div>
      </div>
    </fieldset>
  </div>
  <div class="small-12 large-4 columns">
    <fieldset>
      <legend>Secondary Contact</legend>
      <div class="row">
        <div class="small-12 columns">
          <p><%= @client.secondary_contact_name %></p>
        </div>

        <div class="small-12 columns">
          <p><%= @client.secondary_contact_phone %></p>
        </div>

        <div class="small-12 columns">
          <p><%= @client.secondary_contact_email %></p>
        </div>
      </div>
    </fieldset>
  </div>
</div>
