<% provide(:title, "Client: #{client.name}") %>

<h1>Client: <%= client.name %></h1>

<div class="client-actions">
  <ul class="stack-for-small secondary button-group left">
    <li><%= link_to 'Back', clients_path, class: "button small" %></li>
    <% if policy(client).edit? %>
      <li><%= link_to 'Edit', edit_client_path(@client), class: "button small" %></li>
    <% end %>
  </ul>

  <% if policy(Client).new? %>
    <%= link_to 'Add New Order', new_order_path(client_id: @client.id), class: "button right" %>
  <% end %>
</div>

<%= react_component('ClientMap', client.serializable_hash) %>

<fieldset>
  <legend>Business Information</legend>
  <div class="row">
    <div class="small-12 medium-4 columns">
      <p>Name: <%= client.name %></p>
    </div>
    <div class="small-12 medium-4 columns">
      <p>Official Company Name: <%= client.official_company_name %></p>
    </div>
    <div class="small-12 medium-4 columns">
      <p>EIN: <%= client.ein %></p>
    </div>
  </div>

  <div class="row">
    <div class="small-12 medium-4 columns">
      <p>Business Phone: <%= client.business_phone %></p>
    </div>
    <div class="small-12 medium-4 columns">
      <p>Business Fax: <%= client.business_fax %></p>
    </div>
    <div class="small-12 medium-4 columns">
      <p>Billing Terms: <%= client.billing %></p>
    </div>
  </div>
  <div class="row">
    <div class="small-12 medium-4 columns">
      <p>Active: <%= client.active_status %></p>
    </div>
  </div>
</fieldset>

<fieldset>
  <legend>Delivery Notes</legend>
  <div class="row">
    <div class="small-12 columns">
      <p><%= client.notes %></p>
    </div>
  </div>
</fieldset>

<fieldset>
  <legend>Delivery Fee Information</legend>
  <div class="row">
    <div class="small-12 medium-4 columns">
      <p>Delivery Fee Option: <%= client.delivery_fee_display %></p>
    </div>
    <div class="small-12 medium-4 columns">
      <p>Delivery Minimum: <%= client.delivery_minimum %></p>
    </div>
    <div class="small-12 medium-4 columns">
      <p>Delivery Fee: <%= client.delivery_fee %></p>
    </div>
  </div>

</fieldset>

<div class="row">
  <div class="small-12 medium-4 columns">
    <fieldset>
      <legend>Delivery Address</legend>
      <% client.delivery_address.full_array.each do |line| %>
        <%= line %><br />
      <% end %>
    </fieldset>
  </div>
  <div class="small-12 medium-4 columns end">
    <fieldset>
      <legend>Billing Address</legend>
      <% client.billing_address.full_array.each do |line| %>
        <%= line %><br />
      <% end %>
    </fieldset>
  </div>
</div>
<div class="row">
  <div class="small-12 large-4 columns">
    <fieldset>
      <legend>Accounts Payable Contact</legend>

      <div class="row">
        <div class="small-12 columns">
          <p><%= client.accounts_payable_contact_name %></p>
        </div>

        <div class="small-12 columns">
          <p><%= client.accounts_payable_contact_phone %></p>
        </div>

        <div class="small-12 columns">
          <p><%= client.accounts_payable_contact_email %></p>
        </div>
      </div>
    </fieldset>
  </div>
  <div class="small-12 large-4 columns">
    <fieldset>
      <legend>Primary Contact</legend>
      <div class="row">
        <div class="small-12 columns">
          <p><%= client.primary_contact_name %></p>
        </div>

        <div class="small-12 columns">
          <p><%= client.primary_contact_phone %></p>
        </div>

        <div class="small-12 columns">
          <p><%= client.primary_contact_email %></p>
        </div>
      </div>
    </fieldset>
  </div>
  <div class="small-12 large-4 columns">
    <fieldset>
      <legend>Secondary Contact</legend>
      <div class="row">
        <div class="small-12 columns">
          <p><%= client.secondary_contact_name %></p>
        </div>

        <div class="small-12 columns">
          <p><%= client.secondary_contact_phone %></p>
        </div>

        <div class="small-12 columns">
          <p><%= client.secondary_contact_email %></p>
        </div>
      </div>
    </fieldset>
  </div>
</div>

<fieldset>
  <legend>Client's Recent Orders</legend>
  <div class="row">
    <table class="responsive-table upcoming-orders">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Route</th>
          <th scope="col">Start Date</th>
          <th scope="col">End Date</th>
          <th scope="col">Type</th>
          <th scope="col">Action</th>
        </tr>
      </thead>

      <tbody>
        <% client.latest_orders.each do |order| %>
          <tr class="js-clickable-row" href="<%= edit_order_path(order) %>">
            <th scope="row" data-title="Number"><%= order.id %></th>
            <td data-title="Route"><%= order.route_name %></td>
            <td data-title="Start Date"><%= order.start_date %></td>
            <td data-title="End Date"><%= order.end_date %></td>
            <td data-title="Order Type"><%= order.type %></td>
            <td data-title="Action">
              <%= link_to edit_order_path(order) do %>
                <span class="table-action-icon icon-link-tooltip" aria-label="Edit Order"><i class="fi-page-edit"></i></span>
              <% end %>
              <%= link_to copy_order_path(order) do %>
                <span class="table-action-icon icon-link-tooltip" aria-label="Copy Order"><i class="fi-page-copy"></i></span>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="row">
    <% if policy(Order).new? %>
      <%= link_to 'Add New Order', new_order_path(client_id: @client.id), class: "button small right" %>
    <% end %>
    <% if policy(Order).index? %>
      <%= link_to 'View More Orders', orders_path(search: {client_id: [@client.id]}), class: "button small right" %>
    <% end %>
  </div>
</fieldset>

<fieldset>
  <legend>Client's Recent Invoices</legend>
  <div class="row">
    <table class="responsive-table recent-shipment">
      <thead>
        <tr>
          <th scope="col">Number</th>
          <th scope="col">Date</th>
          <th scope="col">Route</th>
          <th scope="col">Total</th>
          <th scope="col">Action</th>
        </tr>
      </thead>

      <tbody>
        <% client.latest_shipments.each do |shipment| %>
          <tr class="js-clickable-row" href="<%= edit_shipment_path(shipment) %>">
            <th scope="row"><%= shipment.invoice_number %></th>
            <td data-title="Date"><%= shipment.date %></td>
            <td data-title="Route"><%= shipment.route_name %></td>
            <td data-title="Total"><%= shipment.price %></td>
            <td data-title="Action">
              <%= link_to edit_shipment_path(shipment) do %>
                <span class="table-action-icon icon-link-tooltip" aria-label="Edit Invoice"><i class="fi-page-edit"></i></span>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="row">
    <% if policy(Shipment).index? %>
      <%= link_to 'View More Invoices', shipments_path(search: {client_id: [@client.id] }), class: "button small right" %>
    <% end %>
  </div>
</fieldset>
