<%= simple_form_for @ingredient do |f| %>

  <%= f.error_notification %>

  <div class="row">
    <div class="small-12 columns">
      <%= f.input :name, as: :string %>
    </div>
  </div>

  <div class="row">
    <div class="small-4 columns">
      <%= f.input :price, as: :string %>
    </div>
    <div class="small-4 columns">
      <%= f.input :measure, as: :string %>
    </div>
    <div class="small-4 columns">
      <%= f.input :unit, collection: Ingredient.units.keys.to_a, prompt: 'Select One', as: :select%>
    </div>
  </div>

  <div class="row">
    <div class="small-12 columns">
      <%= f.input :ingredient_type, collection: Ingredient.ingredient_types.keys.to_a, prompt: 'Select One', as: :select %>
    </div>
  </div>

  <div class="row">
    <div class="small-12 columns">
      <%= f.input :description, as: :text%>
    </div>
  </div>

  <div class="row">
    <div class="small-12 columns">
      <%= f.submit (@ingredient.new_record? ? "Create" : "Update"), class: "button", name: nil %>
      <% unless @ingredient.new_record? %>
        <%= link_to 'Delete', ingredient_path(@ingredient), class: "button alert",
                                  method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    </div>
  </div>
<% end %>
