<%= simple_form_for @ingredient do |f| %>

  <%= render partial: "shared/error_messages", locals: {f: f} %>

  <fieldset>
    <legend>Ingredient Information</legend>
    <div class="row">
      <div class="small-12 medium-6 columns">
        <%= f.input :name, as: :string %>
      </div>
      <div class="small-12 medium-6 columns">
        <%= f.input(
          :ingredient_type,
          collection: ingredient.ingredient_types_select,
          as: :select,
          include_blank: false
        ) %>
      </div>
    </div>

    <div class="row">
      <div class="small-12 columns">
        <%= f.input :description, as: :text%>
      </div>
    </div>
  </fieldset>

  <div class="row">
    <div class="small-12 columns">
      <%= f.submit (@ingredient.new_record? ? "Create" : "Update"), class: "button", name: nil %>
      <% unless @ingredient.new_record? %>
        <%= link_to 'Delete', ingredient_path(@ingredient), class: "button alert",
                                  method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    </div>
  </div>
<% end %>
