<% provide(:title, "Ingredients") %>

<h1>Ingredients</h1>
<% if policy(Product).new? %>
  <p><%= link_to 'Add New Ingredient', new_ingredient_path, class: "button"%></p>
<% end %>
<table class="responsive-table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Type</th>
      <% if policy(Product).manage_permission? %>
        <th scope="col">Action</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% ingredients.each do |ingredient| %>
      <tr class="js-clickable-row" href="<%= edit_ingredient_path(ingredient) %>">
        <th scope="row"><%= link_to ingredient.name, edit_ingredient_path(ingredient) %></th>
        <th scope="row"><%= ingredient.ingredient_type %></th>
        <% if policy(ingredient).edit? %>
          <td data-title="Action">
            <%= link_to edit_ingredient_path(ingredient) do %>
              <span class="table-action-icon icon-link-tooltip" aria-label="Edit Ingredient"><i class="fi-page-edit"></i></span>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
