<%= simple_form_for order do |f| %>
  <%= f.error_notification %>
  <% if f.object.errors.any? %>
      <div id="error_explanation">
        <ul>
          <% f.object.errors.each do |attribute, msg| %>
            <% if attribute == :order_items %>
              <li><%= msg %></li>
            <% end %>
          <% end %>
        </ul>
      </div>
    <% end %>

  <fieldset>
    <legend>Information</legend>
    <% unless f.object.persisted? %>
      <div class="row">
        <div class="small-12 columns">
          <%= f.input :client_id, collection: order.available_clients, label_method: :name, value_method: :id, prompt: "Select One", as: :select  %>
        </div>
      </div>
    <% end %>

    <div class="row">
      <div class="small-12 medium-6 columns">
         <%= f.input :route_id, collection: order.available_routes, label_method: :name, value_method: :id, prompt: "Select One", as: :select %>
      </div>
      <div class="small-12 medium-6 columns end">
          <%= f.label :order_type, "Order Type"%>
          <%= f.radio_button(:order_type, "standing", "ng-model" => "order.orderType") %>
          <%= f.label(:order_type_standing, "Standing") %>
          <%= f.radio_button(:order_type, "temporary", "ng-model"=> "order.orderType") %>
          <%= f.label(:order_type_temporary, "Temporary") %>
        </div>
    </div>

    <div class="row">
      <div class="small-12 medium-6 columns">
        <%= f.input :start_date, as: :string, label: "Effective Date", input_html: { class: "js-datepicker", "ng-model" => "order.startDate" } %>
      </div>
      <div class="small-12 medium-6 columns end" ng-hide="isTemporary()">
        <%= f.input :end_date, as: :string, label: "End Date", input_html: { class: "js-datepicker"} %>
      </div>
    </div>


    <div class="row">
      <div class="small-12 columns">
        <%= f.input :note, label: "Special Notes", as: :text %>
      </div>
    </div>

    <% if f.object.persisted? %>
      <div class="row">
        <div class="small-12 medium-6 columns">
          <p><strong>Order Lead Time: <%= order.total_lead_days %></strong></p>
        </div>
      </div>
    <% end %>
  </fieldset>

  <fieldset>
    <legend>Products</legend>
    <div class="row collapse show-for-large-up">
      <div class="small-12 large-11 columns">
        <div class="row collapse">
          <div class="small-12 large-2 columns">
            <%= f.label :product_id, "Product" %>
          </div>
          <div class="small-12 large-3 columns">
            <div class="row collapse">
              <div class="small-12 large-7 columns">
                <label>Price</label>
              </div>
              <div class="small-12 large-5 columns end">
                <label>Total</label>
              </div>
            </div>
          </div>
          <div class="small-12 large-1 columns">
            <%= f.label :monday, "Mon" %>
          </div>
          <div class="small-12 large-1 columns">
            <%= f.label :tuesday, "Tue" %>
          </div>
          <div class="small-12 large-1 columns">
            <%= f.label :wednesday, "Wed" %>
          </div>
          <div class="small-12 large-1 columns">
            <%= f.label :thursday, "Thur" %>
          </div>
          <div class="small-12 large-1 columns">
            <%= f.label :friday, "Fri" %>
          </div>
          <div class="small-12 large-1 columns">
            <%= f.label :saturday, "Sat" %>
          </div>
          <div class="small-12 large-1 columns end">
            <%= f.label :sunday, "Sun" %>
          </div>
        </div>
      </div>
    </div>
    <%= render partial: "order_items", locals: {f: f} %>
  </fieldset>
  <div class="row">
    <div class="small-12 columns">
      <%= f.submit (f.object.new_record? ? "Create" : "Update"), class: "button", name: nil %>
      <% unless f.object.new_record? %>
        <%= link_to 'Delete', order_path(f.object),
          class: "button alert",
          method: :delete,
          data: { confirm: 'Are you sure?' }
        %>
      <% end %>
    </div>
  </div>
<% end %>
