<div>
<%= simple_form_for order do |f| %>
  <%= render "shared/error_messages", f: f %>
  <% if f.object.overridable_order? %>
    <%= render  'overridable_order', f: f %>
  <% elsif f.object.overlapping? %>
    <%= render 'overlapping_orders', f: f %>
  <% end %>
  <%= render 'updated', updated: @updated %>

  <%= react_component('OrderFormProvider', OrderForm.new(order: @order, user: current_user).serializable_hash) %>

  <div class="row">
    <div class="small-12 columns">
      <%= f.submit (f.object.new_record? ? "Create" : "Update"), class: "button", name: nil %>
      <% unless f.object.new_record? %>
        <%= link_to 'Delete', order_path(f.object),
          class: "button alert",
          method: :delete,
          data: { confirm: 'Are you sure?' }
        %>
      <% end %>
      <p id="kickoff-warning" class="hide">Warning, this order is being created without minimum lead days and will not be automatically invoiced.</p>
    </div>
  </div>
<% end %>
</div>
