<div class="row fields" ng-show="true">
  <div class="small-3 columns">
    <%= f.label :product_id, "Product" %>
    <%= f.collection_select :product_id, @products,:id, :name, {include_blank: "--None--"}, {id: "order_order_items_attributes_{{getRandomId($index)}}_product_id", name: "order[order_items_attributes][{{getRandomId($index)}}][product_id]"} %>
  </div>
  <div class="small-1 columns">
    <%= f.label :monday, "Mon" %>
    <%= f.text_field :monday, id: "order_order_items_attributes_{{getRandomId($index)}}_monday", name: "order[order_items_attributes][{{getRandomId($index)}}][monday]", class: "monday_input"%>
  </div>
  <div class="small-1 columns">
    <%= f.label :tuesday, "Tue" %>
    <%= f.text_field :tuesday, id: "order_order_items_attributes_{{getRandomId($index)}}_tuesday", name: "order[order_items_attributes][{{getRandomId($index)}}][tuesday]", class: "tuesday_input"%>
  </div>
  <div class="small-1 columns">
    <%= f.label :wednesday, "Wed" %>
    <%= f.text_field :wednesday, id: "order_order_items_attributes_{{getRandomId($index)}}_wednesday", name: "order[order_items_attributes][{{getRandomId($index)}}][wednesday]", class: "wednesday_input"%>
  </div>
  <div class="small-1 columns">
    <%= f.label :thursday, "Thur" %>
    <%= f.text_field :thursday, id: "order_order_items_attributes_{{getRandomId($index)}}_thursday", name: "order[order_items_attributes][{{getRandomId($index)}}][thursday]", class: "thursday_input"%>
  </div>
  <div class="small-1 columns">
    <%= f.label :friday, "Fri" %>
    <%= f.text_field :friday, id: "order_order_items_attributes_{{getRandomId($index)}}_friday", name: "order[order_items_attributes][{{getRandomId($index)}}][friday]", class: "friday_input"%>
  </div>
  <div class="small-1 columns">
    <%= f.label :saturday, "Sat" %>
    <%= f.text_field :saturday, id: "order_order_items_attributes_{{getRandomId($index)}}_saturday", name: "order[order_items_attributes][{{getRandomId($index)}}][saturday]", class: "saturday_input"%>
  </div>
  <div class="small-1 columns">
    <%= f.label :sunday, "Sun" %>
    <%= f.text_field :sunday, id: "order_order_items_attributes_{{getRandomId($index)}}_sunday", name: "order[order_items_attributes][{{getRandomId($index)}}][sunday]", class: "sunday_input"%>
  </div>

  <div class="small-1 columns end">
    <%= f.hidden_field :_destroy, name: "order[order_items_attributes][{{getRandomId($index)}}][_destroy]"%>
    <%= link_to 'Remove', '', :'ng-click' => "remove($event)", class: "remove_order_item" %>
  </div>
</div>
