<div class="fields" ng-show="true">
  <div class="row collapse">
    <div class="small-12 medium-11 columns">
      <div class="row collapse">
        <div class="small-12 medium-2 columns">
          <%= f.label :product_id, "Product", class: "show-for-small-only" %>
          <%= f.input :product_id, collection: @order_creator.products, label_method: :name, value_method: :id, include_blank: '--None--', as: :select, label: false, input_html: {id: "order_order_items_attributes_{{getRandomId($index)}}_product_id", name: "order[order_items_attributes][{{getRandomId($index)}}][product_id]"}  %>
        </div>
        <div class="small-12 medium-3 columns">
          <div class="row collapse">
            <div class="small-12 medium-7 columns">
              <label class="show-for-small-only">Price</label>
              <input ng-disabled="true" type="text" />
            </div>
            <div class="small-12 medium-5 columns">
              <label class="show-for-small-only">Total</label>
              <input ng-disabled="true" type="text" />
            </div>
          </div>
        </div>
        <div class="small-12 medium-1 columns">
          <%= f.label :monday, "Mon", class: "show-for-small-only" %>
          <%= f.input :monday, as: :string, label: false, input_html: { class: "monday_input", "ng-disabled" => "eqStartDate(1)", id: "order_order_items_attributes_{{getRandomId($index)}}_monday", name: "order[order_items_attributes][{{getRandomId($index)}}][monday]" } %>
        </div>
        <div class="small-12 medium-1 columns">
          <%= f.label :tuesday, "Tue", class: "show-for-small-only"  %>
          <%= f.input :tuesday, as: :string, label: false, input_html: { class: "tuesday_input", "ng-disabled" => "eqStartDate(2)", id: "order_order_items_attributes_{{getRandomId($index)}}_tuesday", name: "order[order_items_attributes][{{getRandomId($index)}}][tuesday]" } %>
        </div>
        <div class="small-12 medium-1 columns">
          <%= f.label :wednesday, "Wed", class: "show-for-small-only" %>
          <%= f.input :wednesday, as: :string, label: false, input_html: { class: "wednesday_input", "ng-disabled" => "eqStartDate(3)", id: "order_order_items_attributes_{{getRandomId($index)}}_wednesday", name: "order[order_items_attributes][{{getRandomId($index)}}][wednesday]" } %>
        </div>
        <div class="small-12 medium-1 columns">
          <%= f.label :thursday, "Thur", class: "show-for-small-only" %>
          <%= f.input :thursday, as: :string, label: false, input_html: { class: "thursday_input", "ng-disabled" => "eqStartDate(4)", id: "order_order_items_attributes_{{getRandomId($index)}}_thursday", name: "order[order_items_attributes][{{getRandomId($index)}}][thursday]" } %>
        </div>
        <div class="small-12 medium-1 columns">
          <%= f.label :friday, "Fri", class: "show-for-small-only" %>
          <%= f.input :friday, as: :string, label: false, input_html: { class: "friday_input", "ng-disabled" => "eqStartDate(5)", id: "order_order_items_attributes_{{getRandomId($index)}}_friday", name: "order[order_items_attributes][{{getRandomId($index)}}][friday]" } %>
        </div>
        <div class="small-12 medium-1 columns">
          <%= f.label :saturday, "Sat", class: "show-for-small-only" %>
          <%= f.input :saturday, as: :string, label: false, input_html: { class: "saturday_input", "ng-disabled" => "eqStartDate(6)", id: "order_order_items_attributes_{{getRandomId($index)}}_saturday", name: "order[order_items_attributes][{{getRandomId($index)}}][saturday]" } %>
        </div>
        <div class="small-12 medium-1 columns end">
          <%= f.label :sunday, "Sun", class: "show-for-small-only" %>
          <%= f.input :sunday, as: :string, label: false, input_html: { class: "sundayday_input", "ng-disabled" => "eqStartDate(0)", id: "order_order_items_attributes_{{getRandomId($index)}}_sunday", name: "order[order_items_attributes][{{getRandomId($index)}}][sunday]" } %>
        </div>
      </div>
    </div>
    <div class="small-12 medium-1 columns">
      <%= f.hidden_field :_destroy, name: "order[order_items_attributes][{{getRandomId($index)}}][_destroy]"%>
      <%= link_to 'X', '', :'ng-click' => "remove($event)", class: "remove_order_item button alert postfix" %>
    </div>
  </div>
</div>
