<div ng-controller="NestedItemCtrl">
  <%= f.simple_fields_for :order_items do |builder| %>
    <%= render "order_item_fields", f: builder %>
  <% end %>
  <div ng-repeat="nestedItem in nestedItems">
    <%= f.simple_fields_for :order_items, @order.order_items.build do |builder| %>
       <%= render "new_order_item_fields", f: builder %>
    <% end %>
  </div>
  <%= link_to 'Add New Order Item', '', :'ng-click' => "add()", class: "button" %>
</div>
