<tr class="js-clickableRow" href="<%= edit_order_path(order) %>">
  <th scope="row"><%= link_to order.start_date, edit_order_path(order), class: "order-#{order.id}" %></th>
  <td data-title="End-Date"><%= order.end_date %></td>
  <td data-title="Client"><%= order.client_name %></td>
  <td data-title="Type"><%= order.type %></td>
  <td data-title="Route"><%= order.route_name %></td>
  <td data-title="Action">
    <%= link_to edit_order_path(order) do %>
      <span class="table-action-icon table-tooltip" aria-label="Edit Order"><i class="fi-page-edit"></i></span>
    <% end %>
  </td>
</tr>
