<tr class="js-clickable-row <%= 'missing' if missing_shipment_ids.include?(order.id) %>" href="<%= edit_order_path(order) %>">
  <th scope="row"><%= link_to order.id, edit_order_path(order), class: "order-#{order.id}" %></th>
  <td data-title="Start-Date"><%= order.start_date %></td>
  <td data-title="End-Date"><%= order.end_date %></td>
  <td data-title="Client"><%= order.client_name %></td>
  <td data-title="Type"><%= order.type %></td>
  <td data-title="Route"><%= order.route_name %></td>
  <% if show_created_whodoneit %>
    <td data-title="By"><%= order.created_whodunnit %></td>
  <% end %>
  <% if show_updated_at_whodoneit %>
    <td data-title="By"><%= order.updated_at_whodunnit %></td>
  <% end %>
  <td data-title="Action">
    <%= link_to edit_order_path(order) do %>
      <span class="table-action-icon icon-link-tooltip" aria-label="Edit Order"><i class="fi-page-edit"></i></span>
    <% end %>
    <% if show_updated_at_whodoneit %>
      <%= link_to papertrail_order_path(order) do %>
        <span class="table-action-icon icon-link-tooltip" aria-label="Papertrail"><i class="fi-eye"></i></span>
      <% end %>
    <% end %>
    <%= link_to copy_order_path(order) do %>
      <span class="table-action-icon icon-link-tooltip" aria-label="Copy Order"><i class="fi-page-copy"></i></span>
    <% end %>
  </td>
</tr>
