<div ng-controller="OrderCtrl" ng-init="order=<%= @order.to_json %>">
  <h1>Editing Order: <%= @order.id %></h1>
  <h3>Client Name: <%= @order.client.name %></h3>
  <p><%=@order.order_type.capitalize %> order</p>

  <%= render "form"%>

  <%= link_to 'Back', orders_path %>
</div>
