<% provide(:title, "Editing Order ##{order.id}") %>
<h1>Editing Order #<%= order.id %> - <%= link_to order.client_name, order.client, class: "underlined-link" %></h1>

<ul class="stack-for-small secondary button-group">
  <li><%= link_to 'Back', orders_path, class: "button small" %></li>
  <li><%= link_to "Print", print_order_path(order), target: "_blank", class: "button small" %></li>
  <li><%= link_to "Copy Order", copy_order_path(order), class: "button small" %></li>
</ul>

<% unless order.processed_shipment_for_today? %>
  <div class="overridable-orders panel callout radius">
    <h5>This order is missing it's invoice for today.</h5>
  </div>
<% end %>

<%= render "form", order: order %>
<%= render partial: 'upcoming_shipments' if order.upcoming_shipments.any? %>
