<% provide(:title, "Editing Order: #{order.id}") %>
<h1>Editing Order: <%= order.id %> - <%= order.client_name %></h1>
<%= link_to 'Back', orders_path %>
<div ng-controller="OrderCtrl" ng-init="order=<%= @order.to_json %>">
  <%= render "form"%>
  <%= render partial: 'upcoming_shipments' if order.shipments.any? %>
</div>
