<h1>Orders</h1>
<p><%= link_to 'Add New Order', new_order_path %></p>
<table>
  <tr>
    <th>Order Date</th>
    <th>Client</th>
    <th>Type</th>
    <th>Route</th>
    <th>Action</th>
  </tr>

  <% @orders.each do |order| %>
    <tr>
      <td><%= order.start_date %></td>
      <td><%= link_to order.client.name, edit_order_path(order) %></td>
      <td><%= order.order_type %></td>
      <td><%= order.route.name %></td>
      <td>
        <%= link_to edit_order_path(order) do %>
          <span data-tooltip title="Edit Order"><i class="fi-page-edit"></i></span>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
