<h1>Orders</h1>
<p><%= link_to 'Add New Order', new_order_path, class: "button" %></p>

<table class="responsive-table">
  <thead>
    <tr>
      <th scope="col">Order Date</th>
      <th scope="col">Client</th>
      <th scope="col">Type</th>
      <th scope="col">Route</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <% orders.each do |order| %>
      <tr>
        <th scope="row"><%= link_to order.start_date, edit_order_path(order) %></th>
        <td data-title="Client"><%= link_to order.client.name, client_path(order.client) %></td>
        <td data-title="Type"><%= order.type %></td>
        <td data-title="Route"><%= order.route.name %></td>
        <td data-title="Action">
          <%= link_to edit_order_path(order) do %>
            <span class="table-action-icon" data-tooltip aria-haspopup="true" data-options="show_on:medium" title="Edit Order"><i class="fi-page-edit"></i></span>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
