<%= simple_form_for @route do |f| %>
  <% if @route.errors.any? %>
    <%= f.error_notification %>
  <% end %>

  <fieldset>
  <legend>Route Information</legend>
    <div class="row">
      <div class="large-10 medium-9 small-6 columns">
        <%= f.input :name, as: :string %>
      </div>

      <div class="large-2 medium-3 small-6 columns select-time-wrapper">
        <%= f.input :departure_time, as: :string, placeholder: "Select Time", input_html: { value: "#{@route.formatted_time}", class: "js-timepicker" } %>
      </div>
    </div>

    <div class="row">
      <div class="small-12 columns">
        <%= f.input :notes, as: :text%>
      </div>
    </div>

    <div class="row">
      <div class="large-6 columns">
        <%= f.label :active, "Active"%>
        <%= f.radio_button(:active, true) %>
        <%= f.label(:active_true, "Yes") %>
        <%= f.radio_button(:active, false) %>
        <%= f.label(:active_false, "No") %>
      </div>
    </div>
  </fieldset>

  <div class="row">
    <div class="small-12 columns">
      <%= f.submit (@route.new_record? ? "Create" : "Update"), class: "button", name: nil %>
      <% unless @route.new_record? %>
        <%= link_to 'Delete', route_path(@route), class: "button alert",
                                  method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    </div>
  </div>
<% end %>
