<%= simple_form_for @product do |f| %>

  <%= f.error_notification %>

  <% if @product.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% @product.errors.full_messages.each do |msg| %>
          <% if msg == "Quantity must be unique" %>
            <li><%= msg %></li>
          <% end %>
        <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <legend>Product Information</legend>
    <div class="row">
      <div class="small-12 medium-6 columns">
        <%= f.input :name, as: :string %>
      </div>
      <div class="small-12 medium-6 columns">
        <%= f.input :sku, as: :string %>
      </div>
    </div>
    <div class="row">
      <div class="small-12 medium-6 columns">
        <%= f.input :product_type, collection: Product.product_types.keys, prompt: "Select One", as: :select %>
      </div>
      <div class="small-12 medium-6 columns">
        <%= f.input :base_price, as: :string %>
      </div>
    </div>
    <div class="row">
      <div class="small-12 medium-6 columns">
        <%= f.input :unit, collection: Product.units.keys, prompt: 'Select One', as: :select %>
      </div>
      <div class="small-12 medium-6 columns">
        <%= f.input :weight, as: :string%>
      </div>
    </div>
    <div class="row">
      <div class="small-12 medium-6 columns">
        <%= f.input :over_bake, as: :string%>
      </div>
      <div class="small-12 medium-6 columns">
        <%= f.label :lead_time %>
        <input ng-disabled="true" type="text" value="<%= product.lead_time %>" />
      </div>
    </div>
    <div class="row">
      <div class="small-12 columns">
        <%= f.input :description, as: :text%>
      </div>
    </div>
    <div class="row">
      <div class="small-12 medium-6 columns">
        <%= f.input :inclusion_id, collection: product.inclusions, label_method: :name, value_method: :id,include_blank: 'Select One', as: :select %>
      </div>
      <div class="small-12 medium-6 columns">
        <%= f.input :motherdough_id, collection: product.motherdoughs, label_method: :name, value_method: :id, include_blank: 'Select One', as: :select %>
      </div>
    </div>
  </fieldset>

  <fieldset>
  <legend>Prices</legend>

    <div ng-controller="NestedItemCtrl">
      <%= f.simple_fields_for :price_varients do |builder| %>
        <%= render "price_varient_fields", f: builder %>
      <% end %>
      <div ng-repeat="nestedItem in nestedItems">
        <%= f.simple_fields_for :price_varients, @product.price_varients.build do |builder| %>
          <%= render "new_price_varient_fields", f: builder %>
        <% end %>
      </div>
      <%= link_to 'Add New Price', '', 'ng-click' => "add()", class: "button" %>
    </div>
  </fieldset>

  <div class="row">
    <div class="small-12 columns">
      <%= f.submit (@product.new_record? ? "Create" : "Update"), class: "button", name: nil %>
      <% unless @product.new_record? %>
        <%= link_to 'Delete', product_path(@product), class: "button alert",
                                  method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    </div>
  </div>
<% end %>
