<%= simple_form_for @product do |f| %>

  <%= render partial: "shared/error_messages", locals: {f: f} %>

  <fieldset>
    <legend>Product Information</legend>
    <div class="row">
      <div class="small-12 medium-4 columns">
        <%= f.input :name, as: :string %>
      </div>
      <div class="small-12 medium-4 columns">
        <%= f.input :product_type, collection: product.product_types_select, prompt: "Select One", as: :select %>
      </div>
      <div class="small-12 medium-4 columns">
        <%= f.input :sku, as: :string %>
      </div>
    </div>
    <div class="row">
      <div class="small-12 medium-4 columns">
        <%= f.input :base_price, as: :integer %>
      </div>
      <div class="small-12 medium-4 columns">
        <%= f.input :weight, as: :integer%>
      </div>
      <div class="small-12 medium-4 columns">
        <%= f.input :unit, collection: product.units_select, as: :select, include_blank: false %>
      </div>
    </div>
    <div class="row">
      <div class="small-12 medium-4 columns">
        <%= f.input :over_bake, label: "over bake %", as: :integer%>
      </div>
      <div class="small-12 medium-4 columns end">
        <%= f.label :total_lead_days %>
        <input disabled="true" type="text" value="<%= product.total_lead_days %>" />
      </div>
    </div>
    <div class="row">
      <div class="small-12 columns">
        <%= f.input :description, as: :text%>
      </div>
    </div>
    <div class="row">
      <div class="small-12 medium-6 columns">
        <%= f.input :motherdough_id, collection: product.motherdoughs, label_method: :name, value_method: :id, include_blank: 'Select One', as: :select %>
      </div>
      <div class="small-12 medium-6 columns">
        <%= f.input :inclusion_id, collection: product.inclusions, label_method: :name, value_method: :id,include_blank: 'Select One', as: :select %>
      </div>
    </div>
    <div class="row">
      <div class="small-12 columns">
      <%=  f.input_field :batch_recipe, as: :boolean, inline_label: 'Include Product on batch reports?', input_html: { id: 'batch_recipe' } %>
      </div>
    </div>
  </fieldset>

  <%= react_component('ProductPriceForm', ProductForm.new(product: @product, user: current_user).serializable_hash) %>

  <div class="row">
    <div class="small-12 columns">
      <%= f.submit (@product.new_record? ? "Create" : "Update"), class: "button", name: nil %>
      <% unless @product.new_record? %>
        <%= link_to 'Delete', product_path(@product), class: "button alert",
                                  method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    </div>
  </div>
<% end %>
