<h1>Products</h1>
<p><%= link_to 'Add New Product', new_product_path, class: "button" %></p>
<table>
  <tr>
    <th>Name</th>
    <th>Product Type</th>
    <th>Description</th>
    <th>Action</th>
  </tr>

  <% @products.each do |product| %>
    <tr>
      <td><%= link_to product.name, edit_product_path(product) %></td>
      <td><%= product.product_type %></td>
      <td><%= product.description.truncate(30) %></td>
      <td>
      <%= link_to edit_product_path(product) do %>
          <span data-tooltip title="Edit Product"><i class="fi-page-edit large"></i></span>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
