<% provide(:title, "Papertrail of Product #{@product.name} ##{@product.id}") %>
<h1>Papertrail of Product <%= @product.name %> #<%= product.id %></h1>
<% if @product.versions.last.whodunnit %>
  <p>
    Last edited by <%= User.find(@product.versions.last.whodunnit).name %> at <%= @product.updated_at.strftime("%Y-%m-%d %k:%M%p") %>
  </p>
<% end %>
<% @product.versions.reverse.each do | version| %>
  <% next if version.event == 'create' %>
  <% if version.whodunnit %>
  changed by <%= User.find(version.whodunnit).name %> at <%= version.changeset['updated_at'][1].strftime("%Y-%m-%d %k:%M%p") %>
  <% end %>
  <% version.changeset.except!('updated_at').each do |k, v| %>
    <% changed_from = (v[0].is_a?(String) && v[0].blank?) ? 'blank' : v[0] %>
   <p> <%= "#{k} from #{changed_from} to #{v[1]}" %></p>
  <% end %>
<% end %>
<h2>Price Variants</h2>
<% @product.price_variants_with_removes.order('updated_at DESC').each do |item| %>
  <h3>
    <%= item.client.name %>
    <hr />
  </h3>
  <% for version in item.versions.reverse %>
    <% if version.changeset.has_key?(:product_id) %>
      <p>Created By: <%= User.find(version.whodunnit).name %>
        at <%= version.changeset[:updated_at][1].strftime("%Y-%m-%d %k:%M%p") %>
      </p>
    <% elsif version.changeset.has_key?(:removed) %>
      <p>
      Removed By: <%= User.find(version.whodunnit).name %> at <%= version.changeset[:updated_at][1].strftime("%Y-%m-%d %k:%M%p") %>
      </p>
    <% else %>
     <p>
      <% if version.whodunnit %>
      Edited By: <%= User.find(version.whodunnit).name %> at <%= version.changeset[:updated_at][1].strftime("%Y-%m-%d %k:%M%p") %>
      <% end %>
         <% version.changeset.except!('updated_at').each do |k, v| %>
          <p> <%= "#{k} from #{v[0]} to #{v[1]}" %></p>
         <% end %>
      </p>
    <% end %>
  <% end %>
<% end %>