<%= simple_form_for @shipment do |f| %>

  <%= f.error_notification %>

  <fieldset>
    <legend>Information</legend>

    <div class="row">
      <div class="small-12 medium-4 columns">
        <%= f.input :client_id, collection: shipment.available_clients, label_method: :name, value_method: :id, prompt: "Select One", as: :select  %>
      </div>
     <div class="small-12 medium-4 columns">
        <%= f.input :date, as: :string, label: "Shipment Date", input_html: { class: "js-datepicker" } %>
      </div>
      <div class="small-12 medium-4 columns">
        <%= f.input :route_id, collection: shipment.available_routes, label_method: :name, value_method: :id, prompt: "Select One", as: :select %>
      </div>
    </div>

    <div class="row">
      <div class="small-12 medium-4 columns">
        <%= f.input :delivery_fee %>
      </div>
      <div class="small-12 medium-2 end columns">
        <%= f.label :auto_generated %>
        <input ng-disabled="true" type="text" value="<%= shipment.auto_generated? %>" />
      </div>
    </div>

    <div class="row">
      <div class="small-12 columns">
        <%= f.input :note, as: :text, label: "Special Notes" %>
      </div>
    </div>

    <div class="row">

      <% if f.object.persisted? %>
        <div class="small-12 medium-4 columns">
          <%= f.input :payment_due_date, as: :string, label: "Payment Due Date", readonly: true %>
        </div>

        <div class="small-12 medium-4 columns">
          <%= f.label :production_start, "Shipment Production Start" %>
          <input ng-disabled="true" type="text" value="<%= f.object.production_start %>" />
        </div>
      <% end %>
    </div>

  </fieldset>
  <fieldset>
    <legend>Prices</legend>
    <div class="row">
      <div class="small-12 medium-4 columns">
        <p><strong>Sub-total:</strong> <%= shipment.subtotal %></p>
      </div>
      <div class="small-12 medium-4 columns">
        <p><strong>Delivery Fee:</strong> <%= shipment.delivery_fee %></p>
      </div>
      <div class="small-12 medium-4 columns">
        <p><strong>Total Price:</strong> <%= shipment.price %></p>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend>Products</legend>
    <div class="row collapse show-for-large-up">
      <div class="small-12 columns">
        <div class="row collapse">
          <div class="small-12 large-4 columns">
            <%= f.label :product_id, "Product" %>
          </div>
          <div class="small-12 large-2 columns">
            <%= f.label :product_product_type, "Type" %>
          </div>
          <div class="small-12 large-1 columns">
            <%= f.label :product_quantity, "Quantity" %>
          </div>
          <div class="small-12 large-1 columns">
            <%= f.label :product_price, "Price" %>
          </div>
          <div class="small-12 large-2 columns end">
            <%= f.label :production_start, "Production Start" %>
          </div>
        </div>
      </div>
    </div>
    <%= render partial: "shipment_items", locals: {f: f} %>
  </fieldset>

  <div class="row">
    <div class="small-12 columns">
      <%= f.submit (f.object.new_record? ? "Create" : "Update"), class: "button", name: nil %>
      <% unless f.object.new_record? %>
        <%= link_to 'Delete', shipment_path(f.object), class: "button alert",
                                  method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    </div>
  </div>
<% end %>
