<div data-controller="NestedItemCtrl">
  <%= f.simple_fields_for :shipment_items, shipment.sorted_shipment_items do |builder| %>
    <%= render "shipment_item_fields", f: builder %>
  <% end %>
  <div>
    <div data-repeat>
      <%= f.simple_fields_for :shipment_items, @shipment.shipment_items.build do |builder| %>
        <%= render "new_shipment_item_fields", f: builder %>
      <% end %>
    </div>
  </div>
  <%= link_to 'Add Product', '', data: { add: true }, class: "button" %>
</div>

<%= content_for :js do %>
<script>
  $(document).ready(function() {
    var prices = <%= raw shipment.product_prices %>
   $('body').on('change', '.js-chosen-add', function() {
    $('#shipment_shipment_items_attributes_' + $(this).data('attr-id') + '_product_price').val(prices[$(this).val()])
   })
  })
</script>
<% end %>