<% provide(:title, "Invoices") %>

<h1>Invoices</h1>
<% if policy(Shipment).new? %>
  <p><%= link_to 'Add New Invoice', new_shipment_path, class: "button" %></p>
<% end %>

<%= render partial: 'search_form', object: search_form %>

<% if @shipments.any? %>
  <ul class="stack-for-small secondary button-group">
    <li>
      <%= link_to export_pdf_shipments_path(search: params[:search]), target: '_blank', class: "button" do %>
        <i class="fi-page-export-pdf"></i> Export Invoices
      <% end %>
    </li>
    <li>
      <%= link_to export_csv_shipments_path(search: params[:search]), target: "_blank", class: "button" do %>
        <i class="fi-page-export-csv"></i> Export CSV
      <% end %>
    </li>
    <li>
      <%= link_to export_iif_shipments_path(search: params[:search]), target: "_blank", class: "button" do %>
        <i class="fi-page-export"></i> Export QuickBooks
      <% end %>
    </li>
  </ul>
<% end %>

<% if @double_invoices  %>
 <div class="dublicate_invoices panel callout radius">
    <h5 style='font-size:24px;'>These <%= pluralize(@double_invoices.count, 'invoices') %> are duplicates. Please fix as soon as possible.</h5>
    <table class="responsive-table orders-missing-shipment-table">
      <thead>
        <tr>
          <th scope="col">Invoice</th>
          <th scope="col">Date</th>
          <th scope="col">Client</th>
          <th scope="col">Price</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
      <% @double_invoices.each do |shipment| %>
        <%= render 'shipment', shipment: ShipmentDecorator.decorate(shipment) %>
      <% end %>
      </tbody>
    </table>
  </div><% end %>

<table class="responsive-table">
  <thead>
    <tr>
      <th scope="col">Invoice</th>
      <th scope="col">Date</th>
      <th scope="col">Client</th>
      <th scope="col">Price</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <%= render shipments %>
  </tbody>
</table>

<%= will_paginate @shipments %>
