<div class="no-padding">
  <div class="large-2 medium-12 small-12 columns">
    <ul class="side-nav">
      <li class="active"><%= link_to("Dashboard", root_path) %></li>
      <li><%= link_to("Ingredients", ingredients_path)%></li>
      <li><%= link_to("Recipes", recipes_path) %></li>
      <li><%= link_to("Products", products_path) %></li>
      <li><%= link_to("Routes", routes_path) %></li>
    </ul>
  </div>
</div>
