<div class="side-column">
  <div class="large-2 medium-12 small-12 columns">
    <div class="side-navigation js-sidenav-toggle">
      <ul class="main">
        <li class="js-subnav-toggle show-nav <%= active_nav?(:dashboard) %>">
          <%= link_to dashboard_path do %>
              <span class="icon"><%= image_tag 'icons/icon-dashboard.svg'%></span>
              <span class="header">Dashboard</span>
          <% end %>
        </li>

        <% if current_bakery %>
          <li class="js-subnav-toggle show-nav <%= active_nav?(:ingredients, :recipes, :products) %>">
            <span class="icon"><%= image_tag 'icons/icon-product.svg'%></span>
            <span class="header">Products</span>

            <ul class="sub">
              <li class="<%= active_nav?(:ingredients) %>"><%= link_to("Ingredients", ingredients_path)%></li>
              <li class="<%= active_nav?(:recipes) %>"><%= link_to("Recipes", recipes_path) %></li>
              <li class="<%= active_nav?(:products) %>"><%= link_to("Products", products_path) %></li>
            </ul>
          </li>

          <li class="js-subnav-toggle show-nav <%= active_nav?(:print_recipes, :batch_recipes, :production_runs, :daily_totals) %>">
            <span class="icon"><%= image_tag 'icons/icon-production.svg'%></span>
            <span class="header">Production</span>

            <ul class="sub">
              <li class="<%= active_nav?(:print_recipes) %>"><%= link_to("Print Recipes", print_recipes_path) %></li>
               <li class="<%= active_nav?(:batch_recipes) %>"><%= link_to("Print Batch Recipes", batch_recipes_path) %></li>
              <li class="<%= active_nav?(:production_runs) %>"><%= link_to("Production Runs", production_runs_path) %></li>
              <li class="<%= active_nav?(:daily_totals) %>"><%= link_to("Print Daily Totals", daily_totals_path) %></li>
            </ul>
          </li>

          <li class="js-subnav-toggle show-nav <%= active_nav?(:clients, :active_orders, :orders, :shipments) %>">
            <span class="icon"><%= image_tag 'icons/icon-client.svg'%></span>
            <span class="header">Clients</span>

            <ul class="sub">
              <li class="<%= active_nav?(:clients) %>"><%= link_to("Clients", clients_path) %></li>
              <li class="<%= active_nav?(:active_orders) %>"><%= link_to("Active Orders", active_orders_path)%></li>
              <li class="<%= active_nav?(:orders) %>"><%= link_to("Order History", orders_path) %></li>
              <li class="<%= active_nav?(:shipments) %>"><%= link_to("Shipments", shipments_path) %></li>
            </ul>
          </li>
          <li class="js-subnav-toggle show-nav <%= active_nav?(:routes, :delivery_lists, :packing_slips) %>">
            <span class="icon"><%= image_tag 'icons/icon-shipping.svg'%></span>
            <span class="header">Shipping</span>

            <ul class="sub">
              <li class="<%= active_nav?(:routes) %>"><%= link_to("Routes", routes_path) %></li>
              <li class="<%= active_nav?(:delivery_lists) %>"><%= link_to("Print Delivery Lists", delivery_lists_path) %></li>
              <li class="<%= active_nav?(:packing_slips) %>"><%= link_to("Print Packing Slips", packing_slips_path) %></li>
            </ul>
          </li>
        <% end %>

        <li class="js-subnav-toggle show-nav <%= active_nav?(:users, :bakeries, :my_bakery) %>">
          <span class="icon"><%= image_tag 'icons/icon-account.svg'%></span>
          <span class="header">Admin</span>

          <ul class="sub">
            <% if policy(User).index? %>
              <li class="<%= active_nav?(:users) %>"><%= link_to("Users", users_path) %></li>
            <% end %>

            <% if can? :manage, Bakery %>
              <li class="<%= active_nav?(:bakeries) %>"><%= link_to('Bakeries', bakeries_path) %></li>
            <% end %>

            <% if current_bakery %>
              <li class="<%= active_nav?(:my_bakery) %>"><%= link_to('My Bakery', my_bakeries_path) %></li>
            <% end %>

            <% if can? :manage, :resque %>
              <li><%= link_to "Resque", resque_server_path %></li>
            <% end %>

            <% if current_user %>
              <li><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>
            <% end %>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
