<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Bakecycle" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body ng-app="bakecycle">
    <div class="off-canvas-wrap" data-offcanvas>
      <div class="inner-wrap">
        <%= render "layouts/topnav"%>
        <%= render "layouts/mobilenav"%>
        <section>
          <div class="row">
            <% if user_signed_in? %>
              <%= render "layouts/sidenav"%>
            <% end %>
            <div class="<%= class_for_main_content %>">
              <% flash.each do |name, msg| %>
                <%= content_tag :div, msg, class: name %>
              <% end %>
              <%= yield %>
            </div>
          </div>
        </section>
        <a class="exit-off-canvas"></a>
      </div>
    </div>
  </body>
</html>
